<div class="w-100 h-100 d-flex flex-column py-3">
    <div class="w-100 h-50 px-5 d-flex align-items-center pe-5">
        <div class="w-100 d-flex justify-content-between text-white">
            <div class="d-flex flex-column text-center me-5">
                <span class="fs-4"> {{ data?.city }} </span>
                <span class="fs-3"> {{ data?.date }} </span>
                <span class="fs-4"> {{ data?.time }} (última atualização) </span>
                <span class="fs-3"> {{ data?.description }} </span>
            </div>
            <div class="w-50">
                <form nz-form nzLayout="vertical">
                    <nz-form-item>
                        <nz-select nzPlaceHolder="Cidade" nzAllowClear nzShowSearch [formControl]="formCity"
                            [nzSize]="'large'" id="city">
                            <ng-container *ngFor="let city of cities">
                                <nz-option *ngIf="!loading['cities_search']" [nzValue]="city.nome" [nzLabel]="city.nome">
                                </nz-option>
                            </ng-container>
                            <nz-option *ngIf="loading['cities_search']" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Carregando...
                            </nz-option>
                        </nz-select>
                    </nz-form-item>
                </form>
            </div>
            <div class="d-flex flex-column text-center ms-5">
                <span class="fs-4 text-start"> Vento: {{ data?.wind_speedy }}</span>
                <span class="fs-4 text-start"> Amanhecer: {{ data?.sunrise }} </span>
                <span class="fs-4 text-start"> Pôr do sol: {{ data?.sunset }} </span>
                <span class="fs-1 text-center"> {{ data?.temp }} ° </span>
            </div>
        </div>
    </div>
    <div class="w-100 h-50 d-flex overflow-x-auto text-nowrap cards">
        <ng-container *ngFor="let forecast of data?.forecast; let idx = index">
            <div *ngIf="idx < 7" class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
                <span>{{ forecast?.weekday }}</span>
                <span>
                    <img [src]="'https://assets.hgbrasil.com/weather/icons/conditions/' + forecast?.condition + '.svg'" class="routers">
                </span>
                <span>{{ forecast?.max }} °</span>
                <span>{{ forecast?.min }} °</span>
            </div>
        </ng-container>
    </div>
</div>