<div class="w-100 h-100 d-flex flex-column py-3">
    <div class="w-100 h-50 px-5 d-flex align-items-center pe-5">
        <div class="w-100 d-flex justify-content-between text-white">
            <div class="d-flex flex-column text-center">
                <span class="fs-4"> Cidade </span>
                <span class="fs-3"> May 5 </span>
                <span class="fs-1"> 12 : 35 </span>
                <span class="fs-4"> Nublado </span>
            </div>
            <div class="d-flex flex-column text-center">
                <span class="fs-4 text-start"> Pressão: 1021hpA</span>
                <span class="fs-4 text-start"> Amanhecer: 6:36 </span>
                <span class="fs-4 text-start"> Pôr do sol: 18:03 </span>
                <span class="fs-1 text-center"> +20°C </span>
            </div>
        </div>
    </div>
    <div class="w-100 h-50 d-flex overflow-x-auto text-nowrap cards">
        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

        <div class="card text-white border-primary d-flex h-100 me-3 fs-2 px-4 d-flex flex-column align-items-center justify-content-center">
            <span>SUN</span>
            <span>
                <img src="https://assets.hgbrasil.com/weather/icons/conditions/rain.svg" class="routers">
            </span>
            <span>20° C</span>
            <span>10° C</span>
        </div>

    </div>
</div>