// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-container {
    height: 100px;
  }
}

.main-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #1993af, #40E0D0	);
  background-size: cover; /* Faz com que a imagem cubra todo o container */
  background-position: center; /* Posiciona a imagem no centro do container */
}